.gen_content {
    padding: 20px;
    margin: 10px;
    border-radius: 5px;
    background-color: aliceblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.location {
    padding: 10px;
    margin: 5px;
    width: 50px;
}
.normal{
    padding: 10px;
    width: 200px;
    margin: 5px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.gen_content button{
    padding: 10px;
    margin: 5px;
    width: 220px;
    background-color: rgb(91, 188, 233);
}

.form_content{
    padding: 20px;
    width: 300px;
    background-color: rgba(102, 107, 107, 0.5);
}
